<ion-view view-title="Artículo" class="articlesBar">
	<ion-content class="backgroundWhite">
		<div class="imageEvent">
			<img src="http://213.97.238.120/Fotos/{{article.Foto}}" />
		</div>
		<div class="detailsArticle">
			<ul>
				<li class="tEvent">{{article.Nombre}}</li>		
				<li><p class="headerDetail">Familia:</p><p class="contentDetail">{{article.Familia}}</p></li>
				<li><p class="headerDetail">Edad:</p><p class="contentDetail">{{article.EdadMin}} - {{article.EdadMax}} años</p></li>
				<li><p class="headerDetail">Referencia:</p><p class="contentDetail">{{article.Codigo}}</p></li>															
			</ul>
		</div>
		<div class="descriptionArticle">
			<!--<h3 class="tEvent">DESCRIPCIÓN</h3>-->
			<p>{{article.Descripcion}}</p>
		</div>

		<div class="moreInfoArticle">
			<div class="availableArticle">
				<img src="img/confirmicon.png" />
				<p>DISPONIBLE ({{article.Cantidad}} Uds)</p>
			</div>
			<div class="priceArticle">
				<p>{{article.Precio}} €</p>
			</div>
		</div>
  	</ion-content>
</ion-view>