<ion-view view-title="Artículos" class="articlesBar" hide-back-button="true">
	<ion-nav-buttons side="left">
    	<button class="button button-clear backButton" menu-toggle="left">
			<i class="icon ion-navicon"></i>
		</button>
  	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear searchIcon backButton" ng-click="articlesSearch()"></button>
		<!-- Filter Button
		<button class="button button-icon button-clear filterIcon backButton" ng-click="articlesFilter()"></button>
		-->
	</ion-nav-buttons>

	<ion-content class="backgroundWhite">
		<ion-tabs class="tabs-clear tabsArticles">

			<!-- TOP -->
	  		<ion-tab title="TOP">
	  		  	<ion-content>
		    		<ion-list show-delete="false" can-swipe="true">
					  	<ion-item ng-repeat="articleTop in articlesTop" ng-click="articleTopDetails($index)">
					    	<div class="shopItem">
					    		<div class="offerImage">
					    			<img src="http://194.140.149.253/Fotos/{{articleTop.Foto}}">
					    			<div class="clear"></div>
					    		</div>
					    		<div class="shopInfoItem">
					    			<h3>{{articleTop.Nombre}}</h3>
					    			<p>{{articleTop.Familia}}</p>
					    			<p class='small'><strong>Referencia:</strong> {{articleTop.Codigo}}</p>
					    		</div>
					    		<div class="shopValueItem">
					    			<img src="img/nexticon.png">
					    		</div>
					    		<div class="clear"></div>
					    	</div>
				    		<div class="separator"></div>
				    	</ion-item>
						<ion-item ng-show="showTopEmpty" class="emptyItem">
							<img src="img/empty.png" style=" width: 100px; height: 100px;"></img><br /> No hay artículos
						</ion-item>
					</ion-list>
				</ion-content>
	  		</ion-tab>

	  		<!-- OUTLET -->
	  		<ion-tab title="OUTLET" >
	  			<ion-content>
		    		<ion-list show-delete="false" can-swipe="true">
					  	<ion-item ng-repeat="articleOutlet in articlesOutlet" ng-click="articleOutletDetails($index)">
					    	<div class="shopItem">
					    		<div class="offerImage">
					    			<img src="http://194.140.149.253/Fotos/{{articleOutlet.Foto}}">
					    			<div class="clear"></div>
					    		</div>
					    		<div class="shopInfoItem">
					    			<h3>{{articleOutlet.Nombre}}</h3>
					    			<p>{{articleOutlet.Familia}}</p>
					    			<p class='small'><strong>Referencia:</strong> {{articleOutlet.Codigo}}</p>
					    		</div>
					    		<div class="shopValueItem">
					    			<img src="img/nexticon.png">
					    		</div>
					    		<div class="clear"></div>
					    	</div>
				    		<div class="separator"></div>
				    	</ion-item>
						<ion-item ng-show="showOutletEmpty" class="emptyItem">
							<img src="img/empty.png" style=" width: 100px; height: 100px;"></img><br /> No hay artículos
						</ion-item>
					</ion-list>
				</ion-content>
	  		</ion-tab>
		</ion-tabs>
  	</ion-content>
</ion-view>
