<ion-view view-title="Detalles del artículo" class="articlesBar">
	<ion-content>
		<div class="imageEvent">
			<img src="http://83.36.56.136/Fotos/{{article.Foto}}" />
		</div>
		<div class="detailsEvent">
			<ul>
				<li class="tEvent">{{article.Nombre}}</li>				
				<li><spam>Familia:</spam> {{article.Familia}}</li>
				<li><spam>Edad:</spam> {{article.EdadMin}} - {{article.EdadMax}} años</li>
				<li><spam>Referencia:</spam> {{article.Codigo}}</li>
			</ul>
		</div>
		<div class="descriptionArticle">
			<h3 class="tEvent">DESCRIPCIÓN</h3>
			<p>{{article.Descripcion}}</p>
		</div>

		<div class="moreInfoArticle">
			<div class="availableArticle">
				<img src="img/confirmicon.png" />
				<p>DISPONIBLE ({{article.Cantidad}} Uds)</p>
			</div>
			<div class="priceArticle">
				<p>{{article.Precio}} €</p>
			</div>
		</div>
  	</ion-content>
</ion-view>