<ion-view view-title="Ticket regalo" class="clientsBar">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear" ng-click="shareTicket()"><i class="barIcon ion-android-share-alt"></i></button>
  </ion-nav-buttons>
	<ion-content class="backgroundWhite">
		<div class="detailsHeader">
			<div class="pricePurchase">
				<h4 class="pHeader"><span>Nº Ticket:</span> {{ Ndocumento }}</h4>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<ion-scroll direction="y" style="height: 60%">
			<ion-list show-delete="false" can-swipe="true" class="listPurchaseDetails">
				<ion-item ng-repeat="article in articles" class="itemTicketArticlesDetails">
					<div class="offerItem">
						<div class="ticketArticleImage">
							<img src="http://194.140.149.253/Fotos/{{article.Codigo}}.jpg">
							<div class="clear"></div>
						</div>
						<div class="cartInfoItem">
							<h3>{{article.Codigo}}</h3>
							<p>{{article.Descripcion}}</p>
							<p class='small'><strong>Uds:</strong> {{article.Uds}}</p>
						</div>
					</div>
				</ion-item>
			</ion-list>
	 	</ion-scroll>
  </ion-content>
</ion-view>
