<ion-view>
	<ion-nav-bar align-title="center" class="bar-clear customBar clientsBar">
	    <ion-nav-back-button>
	    </ion-nav-back-button>
	    <ion-nav-buttons side="left">
	      	<button class="button button-icon button-clear menuIcon" menu-toggle="left">
	      	</button>
	 	</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="login">
		<div class="loginForm">
	    	<label class="item item-input itemUsername">
	        	<input type="text" placeholder="Username">
	      	</label>
	      	<label class="item item-input itemPassword">
	        	<input type="text" placeholder="Password">
	      	</label>
	      	<button class="loginButton button button-block button-light" ng-click="login()">Login</button>
	    </div>
  	</ion-content>
</ion-view>