<ion-view cache-view="false" view-title="Cliente" class="clientsBar" hide-back-button="true">
	<ion-nav-buttons side="left">
    	<button class="button button-clear backButton" menu-toggle="left">
			<i class="icon ion-navicon"></i>
		</button>
  	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear" ng-click="popover.show($event)"><i class="barIcon ion-gear-a"></i></button>
	</ion-nav-buttons>
	<ion-content class="backgroundWhite">
		<div class="header">
			<div class="picture">
				<img src="img/emptyuser.png">
			</div>
			<div class="info">
				<div class="infoLeft">
					<i class="ion-trophy"></i>
					{{client.Puntos}}
				</div>
				<div class="infoCenter">
					<h3>{{client.Nombre}}</h3>
					<h4 ng-class="{'hasNotCode' : hasCode }">{{client.Codigo}}</h4>
				</div>
				<div class="infoRight">
					<i class="ion-social-euro"></i>
					<div class="clear"></div>
					{{client.Compras}}
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>    
		</div>
		<div class="clear"></div>
	    <ul class="list">
		    <li class="itemDashboard" ng-class='{disabled: hasCode}' ng-click="hasCode || barcode()">
				<i class="icons ion-grid"></i>
				<p>CÓDIGO BARRAS</p>
		    </li>
		    <li class="itemDashboard" ng-class='{disabled: hasCode}' ng-click="hasCode || purchases()">
		    	<i class="icons ion-android-cart"></i>
		    	<p>COMPRAS</p>
		    </li>
		    <li class="itemDashboard" ng-class='{disabled: hasCode}' ng-click="hasCode || points()">
				<i class="icons ion-ribbon-b"></i>
				<p>PUNTOS</p>
		    </li>
		    <li class="itemDashboard" ng-class='{disabled: true}' ng-click="true">
				<i class="icons ion-chatbox"></i>
				<p>MENSAJES</p>
		    </li>
		</ul>
  	</ion-content>
</ion-view>