<ion-view class="dashboardBar" view-title="Aviso Legal">
	<ion-content scroll="true" class="backgroundWhite">
        <div class="scrollLegal">
             
        <p style="margin-top:50px">Jugueterías LIFER es consciente de la importancia que para usted supone el uso que hacemos de 
            su información personal y el modo en que la compartimos. Apreciamos la confianza que deposita en 
            nosotros para que la tratemos con el debido rigor y precaución. Este aviso detalla la política de privacidad 
            de Jugueterías LIFER. Al utilizar LiferApp, usted acepta y consiente las prácticas descritas en el 
            presente Aviso de Privacidad.</p>
         
        <h4>Responsables de la Información Personal</h4>

        <p>Toda información personal que facilite o se recoja a través de LiferApp será tratada 
            principalmente por Exclusivas LIFER, S.L., los responsables del tratamiento, con domicilio social 
            situado en C/ Nava y Grimón, 46, San Cristóbal de La Laguna, 38201, Santa Cruz de Tenerife (España).</p>


        <h4>¿Qué datos personales de sus clientes recopila Jugueterías LIFER?</h4>

        <p>La información personal que recabamos de nuestros clientes nos ayuda a personalizar y mejorar 
            continuamente sus compras en Jugueterías LIFER. En general, utilizamos la información para 
            gestionar pedidos, entregar productos y ofrecer servicios, procesar pagos, ponernos en contacto 
            con usted en relación con pedidos, productos, servicios y ofertas promocionales, actualizar nuestros 
            registros, realizar el mantenimiento de su cuenta en Jugueterías LIFER, mostrar contenidos como las 
            listas de deseos y opiniones de los clientes y para recomendar productos y servicios que pudieran 
            serle de interés. También hacemos uso de esta información para mejorar nuestra tienda y nuestra 
            plataforma, así como para prevenir o detectar fraudes o abusos en nuestro sitio web, y para permitir 
            a terceras partes llevar a cabo soporte técnico, logístico u otras funciones en nuestro nombre.</p>
        
        <p>Estos son los tipos de información que recopilamos:</p>        
        <ul>
            <li>Información que usted nos facilita: Recibimos y almacenamos toda la información que usted
                 introduce en nuestra página web o que nos facilita de cualquier otro modo. Puede elegir no 
                 facilitar cierta información, pero si así lo hace, no podrá disfrutar de muchas de las 
                 funciones que le ofrecemos. La información que usted nos facilita nos es útil para responder 
                 a sus peticiones, personalizar futuras compras que vaya a realizar, mejorar nuestras tiendas 
                 y ponernos en contacto con usted.</li>
                 
            <li>Comunicaciones por correo electrónico: Para ayudarnos a hacer que los correos electrónicos que
                 enviamos sean más útiles e interesantes, habitualmente recibimos una confirmación cuando usted 
                 abre un correo electrónico que le ha enviado Jugueterías Lifer, en el caso de que su ordenador 
                 soporte este tipo de tareas. Además, en un esfuerzo por evitar el envío innecesario de mensajes 
                 a nuestros clientes, comparamos nuestras listas de clientes con las que recibimos de otras sociedades. 
                 Si no desea recibir más correos electrónicos ni notificaciones de Jugueterías Lifer, le rogamos que 
                 se ponga en contacto con nosotros a través del email liferapp@lifer.es.</li>

            <li>Información recabada de otras fuentes: Es posible que recibamos información sobre usted de otras 
                fuentes, y la añadamos a nuestra información de cuenta.</li>
        </ul>


        <h4>¿Comparte Jugueterías LIFER la información que recaba?</h4>

        <p>La información relativa a nuestros clientes es una parte fundamental de nuestro negocio y no participamos 
            en el negocio de la venta de la misma a terceros. Jugueterías LIFER comparte la información de sus 
            clientes sólo del modo descrito a continuación, con sus franquicias, las cuales o bien están sujetas 
            al presente Aviso de Privacidad o siguen unas prácticas al menos tan protectoras como las descritas 
            en el presente Aviso de Privacidad.</p>


            <ul>
                <li>Terceros proveedores de servicios: Contratamos a otras sociedades y personas para realizar 
                    ciertas funciones en nuestro nombre. Algunas de las funciones que realizan pueden ser: ejecutar
                    pedidos, enviar paquetes, enviar correos postales y electrónicos, eliminar información repetida 
                    de las listas de clientes, realizar análisis de datos, ofrecer asistencia de marketing, procesar
                    pagos de tarjetas de crédito y ofrecer servicio de atención al cliente. Tendrán acceso a la 
                    información personal necesaria para realizar sus funciones, pero no podrán utilizarla para 
                    otros fines. Además, deberán tratar la información personal de conformidad con el presente 
                    Aviso de Privacidad y la legislación aplicable en materia de protección de datos.</li>

                <li>Ofertas promocionales: En ciertos casos enviaremos ofertas en nombre de otras empresas a algunos 
                    clientes seleccionados de Jugueterías LIFER. En estos casos, no facilitaremos su nombre ni su 
                    dirección a dichas empresas.</li>

                <li>Transmisiones de sociedades: A medida que desarrollamos nuestro negocio, podemos comprar o vender 
                    tiendas, filiales y unidades de negocio. En dichas transacciones, uno de los activos de las 
                    sociedades transferidas suele ser la información personal de los clientes; sin embargo, dicha 
                    información estará en todo caso sujeta a los compromisos adquiridos en los Avisos de Privacidad 
                    preexistentes (a menos, claro está, que el cliente lo autorice de otro modo). Por supuesto, en el 
                    improbable caso de que Jugueterías LIFER o la mayor parte de sus activos sean adquiridos por un 
                    tercero, la información personal de los clientes sería uno de los activos transferidos.</li>

                <li>Protección de Jugueterías LIFER y Otros: Divulgamos información personal y datos de cuentas de nuestros 
                    clientes cuando creemos que su divulgación es necesaria para el cumplimiento de la ley, para hacer cumplir o
                    aplicar las Condiciones de Uso y Venta y otros acuerdos o para proteger los derechos, la propiedad o seguridad 
                    de Jugueterías LIFER, sus usuarios o terceros. Lo anterior incluye el intercambio de información con otras 
                    sociedades y organizaciones para la protección contra el fraude y la reducción del riesgo de crédito. Obviamente, 
                    lo anterior no incluye vender, alquilar, compartir o revelar de otro modo información personal de clientes con 
                    fines comerciales de modo contrario a los compromisos adquiridos en el presente Aviso de Privacidad.</li>

                <li>Con su consentimiento: Aparte de lo establecido anteriormente, se le informará en el caso de que cualquier 
                    información sobre usted se ponga en conocimiento de terceras partes, al objeto de que tenga la oportunidad 
                    de decidir que no se comparta su información. Siempre que transmitamos información personal a países 
                    situados fuera del Espacio Económico Europeo, nos aseguraremos, como queda establecido anteriormente, 
                    de que la información es transferida de acuerdo con este Aviso de Privacidad y conforme a lo permitido 
                    por las leyes aplicables en materia de protección de datos.</li>
            </ul>


            <h4>¿Está a salvo mi información personal?</h4>
            <ul>
                <li>Trabajamos para proteger la seguridad de sus datos personales durante la transmisión utilizando 
                    Secure Sockets Layer software (SSL), que codifica la información que usted introduce.</li>                    
                <li>Al confirmar un pedido sólo revelamos los cuatro últimos dígitos de los números de sus tarjetas de 
                    crédito. Como es evidente, transmitimos el número completo de la tarjeta de crédito a la entidad de 
                    tarjetas de crédito correspondiente para el procesamiento del pedido.</li>
                <li>Contamos con sistemas de seguridad físicos, electrónicos y procedimentales en relación con la 
                    recogida, almacenamiento y divulgación de información personal del cliente. Nuestros procedimientos 
                    de seguridad implican que en ocasiones podamos solicitarle pruebas de identidad antes de facilitarle 
                    información confidencial.</li>
                <li>Es importante que se proteja contra el acceso no autorizado de terceros a su contraseña y 
                    a cualquiera de sus dispositivos.</li>
            </ul>

            <p>Información sobre terceras partes anunciantes y enlaces a otras páginas web
            Lifer.es y LiferApp pueden incluir publicidad de terceros y accesos a otras páginas web.</p>


            <h4>¿A qué información tengo acceso?</h4>
            <p>LiferApp le da acceso a una gran cantidad de información sobre su cuenta y sus operaciones en 
               Jugueterías Lifer para que pueda ver y, en ciertos casos, actualizar, dicha información. 
               Esta lista podrá variar a medida que nuestra página web y nuestra aplicación móvil se vayan desarrollando.</p>


            <h4>¿Qué opciones tengo?</h4>
            <li>Como le hemos indicado anteriormente, usted siempre tiene la posibilidad de elegir no ofrecer información, 
                a pesar de que ésta pueda ser necesaria para realizar una compra o para utilizar algunas de las funciones que le ofrecemos.</li>
            <li>Podrá añadir o actualizar ciertos. Normalmente, cada vez que usted actualiza sus datos, guardamos una copia 
                de la versión previa para nuestros archivos.</li>
            <li>Si no desea que le enviemos correos postales o electrónicos le rogamos 
                que lo comunique a liferapp@lifer.es.</li>

            <h4>Avisos y revisiones</h4>
            <p>Si tiene cualquier inquietud en relación con la privacidad de Jugueterías LIFER, le rogamos nos envíe un 
               email a liferapp@lifer.es detallando su consulta y nosotros trataremos de resolverla. Usted tiene
               el derecho de acceder, actualizar y cancelar sus datos, así como oponerse a su tratamiento. 
               Puede ejercer estos derechos remitiéndonos un email a liferapp@lifer.es.</p>
            <p>Debido a la continua evolución de nuestras actividades, este Aviso de Privacidad podrá modificarse. 
               Podremos enviarle periódicamente recordatorios sobre nuestros avisos y condiciones a través del correo electrónico, 
               a menos que haya decidido que no lo hagamos. No obstante, le recomendamos que visite nuestra página web 
               frecuentemente para consultar los cambios más recientes. A menos que se indique lo contrario, nuestro Aviso
               de Privacidad actual será aplicable para toda la información que tratamos referente a usted y a su cuenta. 
               De todos modos, somos fieles a nuestra palabra y en ningún caso modificaremos sustancialmente nuestras políticas ni prácticas para hacerlas menos eficaces en la protección de los datos personales de nuestros clientes recogidos en el pasado, sin el consentimiento previo de los clientes afectados.</p>
               
               <br />
               <br />
               
        </div>
  	</ion-content>
</ion-view>