<ion-view class="dashboardBar" view-title="">
	<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-clear backButton">
			<i class="icon ion-navicon"></i>
		</button>
  	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear settingIcon"></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="contentImage">
			<div class="whiteSeparator"></div>
			<img src="img/imageDashboard.png" />
			<div class="slogan">
				<h2>EDUCAMOS JUGANDO</h2>
				<h3>Aprendemos juntos</h2>
			</div>
		</div>
		<div class="contentOptions">
			<div class="options eventsOptions" ng-click="events()">			
				<h4>EVENTOS</h4>
			</div>
			<div class="options offersOptions" ng-click="offers()">			
				<h4>OFERTAS</h4>
			</div>
			<div class="options newsOptions" ng-click="news()">			
				<h4>NOTICIAS</h4>
			</div>
			<div class="options articleOptions" ng-click="articles()">		
				<h4>ARTÍCULOS</h4>
			</div>
			<div class="options clientsOptions" ng-click="clients()">
				<h4>CLIENTES</h4>
			</div>
			<div class="options shopsOptions" ng-click="shops()">				
				<h4>TIENDAS</h4>
			</div>
		</div>
  	</ion-content>
</ion-view>