<ion-view class="dashboardBar" view-title="">
	<ion-content scroll="false">
        <div class="row responsive-sm bonus">
            <div class="col"><h2>Lifer App</h2></div>
            <div class="col"><h3>Versión 3.0.0</h3></div>
            <div class="col"><center><img src="img/icon.png" /></center></div>
            <div class="col"><p>© 2016 Jugueterías Lifer</p></div>
            <div class="col"><p class="small">Todos los derechos reservados</p></div>
        </div>
         <div class="row responsive-sm development">
            <div class="col"><p class="small">Diseño y desarrollo</p></div>
            <div class="col"><center><img src="img/linkioslogo.png" /></center></div>
            <div class="col"><p class="small">www.linkios.com</p></div>
        </div>
  	</ion-content>
</ion-view>
