<ion-view view-title="Eventos" class="eventsBar" hide-back-button="true">
	<ion-nav-buttons side="left">
    	<button class="button button-clear backButton" menu-toggle="left">
			<i class="icon ion-navicon"></i>
		</button>
  	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear orderIcon"></button>
	</ion-nav-buttons>
	<ion-content>
		<!-- List of events -->
		<ion-list show-delete="false" can-swipe="true">
	        <ion-item ng-repeat="event in events" ng-click="eventDetails($index)">
	    		<div class="eventItem">
	    			<div class="eventInfoItem">
	    				<h3>{{event.Titulo}}</h3>
	    				<p class='small'><strong>Fecha:</strong> {{event.FechaInicio}}</p>
	    				<p class='small'><strong>Horario:</strong> {{event.Horario}}</p>
	    			</div>
	    			<div class="eventValueItem">
	    				<!--<p class='new'>Nuevo</p>-->
	    				<img src="img/nexticon.png">	    				
	    			</div>
	    			<div class="clear"></div>
	    		</div>
	    		<div class="separator"></div>
	    	</ion-item>
		</ion-list>
  	</ion-content>
</ion-view>