<ion-view view-title="Detalles del Evento" class="eventsBar">
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear mapIcon" ng-click="eventMap()"></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="imageEvent">
			<img src="http://83.36.56.136/fotos/evento9.png" />
		</div>
		<div class="detailsEvent">
			<ul>
				<li class="tEvent">{{event.Titulo}}</li>
				<li><spam>Lugar:</spam> {{event.Direccion}}</li>
				<li><spam>Población:</spam> {{event.Poblacion}}</li>
				<li><spam>Provincia:</spam> {{event.Provincia}}</li>
				<li><spam>Fecha:</spam> {{event.FechaInicio}} - {{event.FechaFin}}</li>
				<li><spam>Horario:</spam> {{event.Horario}}</li>
			</ul>
		</div>
		<div class="descriptionEvent">
			<h3 class="tEvent">DESCRIPCIÓN</h3>
			<p>{{event.Descripcion}}</p>
		</div>
  	</ion-content>
</ion-view>