 <ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content ng-controller="ContentController">
	  	<ion-nav-view name="menuContent">
		</ion-nav-view>
	</ion-side-menu-content> 

	<ion-side-menu side="left">
		<ion-header-bar class="bar-assertive">
	    	<h1 class="title">Left Menu</h1>
	  	</ion-header-bar>
	  	<ion-content>
	    	<ul class="list">
	    		<a href="#/event/dashboard" class="item" menu-close>Inicio</a>
	      		<a href="#/event/events" class="item" menu-close>Eventos</a>
	      		<a href="#/event/offers" class="item" menu-close>Ofertas</a>
	      		<a href="#/event/news" class="item" menu-close>Noticias</a>
	      		<a href="#/event/articles" class="item" menu-close>Artículos</a>
	      		<a href="#/event/clients" class="item" menu-close>Clientes</a>
	      		<a href="#/event/shops" class="item" menu-close>Tiendas</a>
	    	</ul>
	  	</ion-content>
	</ion-side-menu>
</ion-side-menus>
