<ion-view view-title="Detalles de la Noticia" class="newsBar">
	<ion-content>
		<div class="imageEvent">
			<img src="http://83.36.56.136/fotos/noticia9.jpg" />
		</div>
		<div class="detailsEvent">
			<ul>
				<li class="tEvent">{{new.Titulo}}</li>				
				<li><spam>Fecha:</spam> {{new.Fecha}}</li>
				<li><spam>Categoría:</spam> {{new.Categoria}}</li>
			</ul>
		</div>
		<div class="descriptionEvent">
			<h3 class="tEvent">DESCRIPCIÓN</h3>
			<p>{{new.Descripcion}}</p>
		</div>
  	</ion-content>
</ion-view>