<ion-view view-title="Noticias" class="newsBar" hide-back-button="true">
	<ion-nav-buttons side="left">
    	<button class="button button-clear backButton" menu-toggle="left">
			<i class="icon ion-navicon"></i>
		</button>
  	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear filterIcon" ng-click="newsFilter()"></button>
	</ion-nav-buttons>
	<ion-content>
		<!-- List of news -->
		<ion-list show-delete="false" can-swipe="true">
		  	<ion-item ng-repeat="new in news" ng-click="newDetails($index)">
		    	<div class="eventItem">
		    		<div class="eventInfoItem">
		    			<h3>{{new.Titulo}}</h3>
		    			<p>{{new.Fecha}}</p>
		    			<p class='small'><strong>Categoría:</strong> {{new.Categoria}}</p>
		    		</div>
		    		<div class="eventValueItem">
		    			<!--<p class='new'>Nuevo</p>-->
		    			<img src="img/nexticon.png">	    				
		    		</div>
		    		<div class="clear"></div>
		    	</div>
		    	<div class="separator"></div>
		    </ion-item>
		</ion-list>
  	</ion-content>
</ion-view>