<ion-view view-title="Noticias">
	<ion-nav-bar align-title="left" class="bar-clear customBar newsBar">
	    <ion-nav-back-button>
	    </ion-nav-back-button>
	    <ion-nav-buttons>
	      	<button class="button button-icon button-clear menuIcon" menu-toggle="left">
	      	</button>
	      	<h1 class="title">Noticias</h1>
	      	<button class="button button-icon button-clear filterIcon"></button>
	 	</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<!-- List of events -->
		<ion-list show-delete="false" can-swipe="true">
		  	<ion-item ng-repeat="new in news" ng-click="newDetails()">
		    	<div class="eventItem">
		    		<div class="eventInfoItem">
		    			<h3>{{new.Title}}</h3>
		    			<p>{{new.Date}}</p>
		    			<p class='small'><strong>Categoría:</strong> {{new.Category}}</p>
		    		</div>
		    		<div class="eventValueItem">
		    			<!--<p class='new'>Nuevo</p>-->
		    			<img src="img/nexticon.png">	    				
		    		</div>
		    		<div class="clear"></div>
		    	</div>
		    	<div class="separator"></div>
		    </ion-item>
		</ion-list>
  	</ion-content>
</ion-view>