<ion-view view-title="Ofertas">
	<ion-nav-bar align-title="left" class="bar-clear customBar offersBar">
	    <ion-nav-back-button>
	    </ion-nav-back-button>

	    <ion-nav-buttons side="left">
	      	<button class="button button-icon button-clear menuIcon" menu-toggle="left">
	      	</button>
	 	</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<!-- List of events -->
		<ion-list show-delete="false" can-swipe="true">
		  	<ion-item ng-repeat="offer in offers" ng-click="offerDetails()">
		    	<div class="offerItem">
		    		<div class="offerImage">
		    			<img src="http://83.36.56.136/Fotos/045003131.jpg">
		    			<div class="clear"></div>
		    		</div>
		    		<div class="offerInfoItem">
		    			<h3>{{offer.Title}}</h3>
		    			<p>{{offer.Date}}</p>
		    			<p class='small'><strong>Fin Oferta:</strong> {{offer.Expire}}</p>
		    		</div>
		    		<div class="offerValueItem">
		    			<!--<p class='new'>Nuevo</p>-->
		    			<img src="img/nexticon.png">	    				
		    		</div>
		    		<div class="clear"></div>
		    	</div>
		    	<div class="separator"></div>
		    </ion-item>
		</ion-list>
  	</ion-content>
</ion-view>