<ion-view view-title="Detalles del Evento">
	<ion-nav-bar align-title="left" class="bar-clear customBar offersBar">
	    <ion-nav-back-button>
	    </ion-nav-back-button>
	    <ion-nav-buttons>
	      	<button class="button button-icon button-clear menuIcon" menu-toggle="left">
	      	</button>
	      	<h1 class="title">Detalles de la Oferta</h1>
	 	</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="imageEvent">
			<img src="img/imageDetailsEvent.png" />
		</div>
		<div class="detailsEvent">
			<ul>
				<li class="tEvent">Título de la Oferta</li>
				<li><spam>Lugar:</spam> Plaza de la Trinidad</li>
				<li><spam>Fecha:</spam> Martes 2, Abril 2015</li>
				<li><spam>Horario:</spam> 10:00-14:00 y 16:00-20:00</li>
			</ul>
		</div>
		<div class="descriptionEvent">
			<h3 class="tEvent">DESCRIPCIÓN</h3>
			<p>El próximo sábado día 30 de Abril, tendrá lugar la III Fería del Juguete Exclusivas Lifer. El evento tendrá lugar en la plaza de La Laguna. Tendremos todo tipo de atracciones tanto para los mas pequeños como para mayores.</p>
			<p>Contaremos con payasos, castillos inchables y como no con juguetes lúdicos para desarrollar las habilidades de los más pequeños. Si quieres pasar un día diferente, no dudes en pasarte a jugar con EXCLUSIVAS LIFER.</p>
		</div>
  	</ion-content>
</ion-view>