<ion-view view-title="Ofertas" class="offersBar" hide-back-button="true">
	<ion-nav-buttons side="left">
    	<button class="button button-clear backButton" menu-toggle="left">
			<i class="icon ion-navicon"></i>
		</button>
  	</ion-nav-buttons>
	<ion-content class="backgroundWhite">
		<ion-list show-delete="false" can-swipe="true">
		  	<ion-item ng-repeat="offer in offers" ng-click="offerDetails()">
		    	<div class="offerItem">
		    		<div class="offerImage">
		    			<img src="http://213.97.238.120/Fotos/045003131.jpg">
		    			<div class="clear"></div>
		    		</div>
		    		<div class="offerInfoItem">
		    			<h3>{{offer.Title}}</h3>
		    			<p>{{offer.Date}}</p>
		    			<p class='small'><strong>Fin Oferta:</strong> {{offer.Expire}}</p>
		    		</div>
		    		<div class="offerValueItem">
		    			<!--<p class='new'>Nuevo</p>-->
		    			<img src="img/nexticon.png">	    				
		    		</div>
		    		<div class="clear"></div>
		    	</div>
		    	<div class="separator"></div>
		    </ion-item>
			<ion-item ng-show="showEmpty" class="emptyItem">
				<img src="img/empty.png" style=" width: 100px; height: 100px;"></img><br /> No hay ofertas
			</ion-item>
		</ion-list>
  	</ion-content>
</ion-view>