<ion-view view-title="Tiendas" class="shopsBar" hide-back-button="true">
	<ion-nav-buttons side="left">
    	<button class="button button-clear backButton" menu-toggle="left">
			<i class="icon ion-navicon"></i>
		</button>
  	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear filterIcon" ng-click="shopsFilter()"></button>
	</ion-nav-buttons>
	<ion-content>
		<!-- List of shops -->
		<ion-list show-delete="false" can-swipe="true">
		  	<ion-item ng-repeat="shop in shops" ng-click="shopDetails($index)">
		    	<div class="shopItem">
		    		<div class="offerImage">
		    			<img src="http://83.36.56.136/fotos/tienda1.jpg">
		    			<div class="clear"></div>
		    		</div>
		    		<div class="shopInfoItem">
		    			<h3>{{shop.Nombre}}</h3>
		    			<p>{{shop.Direccion}}</p>
		    			<p class='small'><strong>{{shop.Poblacion}} - {{shop.Provincia}}</strong></p>
		    		</div>
		    		<div class="shopValueItem">
	    				<img src="img/nexticon.png">	    				
	    			</div>
		    		<div class="clear"></div>
		    	</div>
		    	<div class="separator"></div>
		    </ion-item>
		</ion-list>
  	</ion-content>
</ion-view>