<ion-view view-title="Detalles de la Tienda" class="shopsBar">
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear mapIcon backButton" ng-click="shopMap()"></button>
		<button class="button button-icon button-clear ion-ios-telephone-outline backButton" ng-click="call()"></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="imageEvent">
			<img src="http://83.36.56.136/fotos/tienda1.jpg"">
		</div>
		<div class="detailsEvent">
			<ul>
				<li class="tEvent">{{shop.Nombre}}</li>
				<li><spam>Dirección:</spam> {{shop.Direccion}}</li>
				<li><spam>Provincia:</spam> {{shop.Provincia}}</li>
				<li><spam>CP:</spam> {{shop.CP}}</li>
			</ul>
		</div>
		<div class="descriptionShop">
			<ul class="principalUl">
				<li class="tlfli"><i class="icon ion-android-call"></i>TELÉFONOS: <span class="detailUl">{{shop.Telefono}}</span></li>
				<li class="emailli"><i class="icon ion-ios-email-outline"></i>EMAILS: <span class="detailUl">{{shop.Email}}</span></li>
				<li class="timeli"><i class="icon ion-android-time"></i>HORARIO: <span class="detailUl">{{shop.Horario}}</span></li>
				<li class="webli"><i class="icon ion-android-globe"></i>WEB: <span class="detailUl">{{shop.Web}}</span></li>
			</ul>
			<p>{{shop.Descripcion}}</p>
		</div>
  	</ion-content>
</ion-view>