
/***********/
/* General */
/***********/


.html, body   { height: 100%; }
.clear        { float: none; clear: both;}
.title        { top: 1px !important; left: 45px !important; }
.iconGroup 	  { float: right;}
.scroll       { padding: 0!important; margin:0 !important; height: 99%}
.emptyItem    { border: none !important; text-align: center; margin: 45% 20% 50% 25%; }


/***********/
/* Hacking */
/***********/


.spinner svg                { width: 45px !important; margin-left: 0px !important; height: 44px !important;}
.loading img                { width: 40%;}
.loading-container          { background-color: rgba(255, 255, 255, 1) !important;}
.loading-container .loading { padding: 0px !important;  border-radius: none !important; background-color: transparent !important; color: transparent !important; }
::-webkit-input-placeholder { color: white !important; }
.backButton                 { color: white !important; }
.backgroundWhite            { background-color: white !important;}
.slider                     { height: 100% !important; }
.has-tabs.pane, .bar-footer.has-tabs.pane { height: 100% !important; }
.buttonWhite                { color:white !important; }
.buttonWhite::before        { font-size: 28px !important; }
.tab-item .icon::before     { font-size: 28px !important; }


/***********/
/*  Icons  */
/***********/


.menuIcon   { background: url(../img/menuicon.svg) !important;
  			  background-size: 18px 15px !important;
  			  background-repeat: no-repeat !important;
  			  background-position: 12px !important;
  			  width: 45px; }
.orderIcon  { background: url(../img/ordericon.svg) !important;
  			  background-size: 25px 20px !important;
  			  background-repeat: no-repeat !important;
  			  background-position: 12px !important;
  			  width: 50px; }
.settingIcon{ background: url(../img/settingicon.svg) !important;
  			  background-size: 25px 20px !important;
  			  background-repeat: no-repeat !important;
  			  background-position: 12px !important;
  			  width: 50px; }
.searchIcon { background: url(../img/searchicon.svg) !important;
			  background-size: 25px 20px !important;
			  background-repeat: no-repeat !important;
			  background-position: 12px !important;
			  width: 40px; }
.filterIcon { background: url(../img/filtericon.svg) !important;
			  background-size: 25px 20px !important;
			  background-repeat: no-repeat !important;
			  background-position: 12px !important;
			  width: 40px; margin-right: 10px }
.mapIcon    { background: url(../img/mapicon.svg) !important;
              background-size: 25px 20px !important;
              background-repeat: no-repeat !important;
              background-position: 12px !important;
              width: 40px; margin-right: 10px }


/***********/
/*   Menu  */
/***********/


.menu                   { background-color: #262626; }
.menu ul                { background-color: #262626; list-style: none; margin: 10% 10% 50% 10%;}
.menu ul li             { border-bottom: 1px solid #494747; margin: 0px 0px 1px 0px; padding: 15px 0px 15px 0px; }
.menu ul li a           { float:left; background-color: #262626; font-family: 'gulim'; color: white; padding: 3px 0px 0px 0px !important; }
.menu h1                { margin-left:10%; font-family: 'gulim'; font-size: 25px !important; margin-top: 10%; color: gray !important; }
.asterik                { float: left !important; margin-right: 10px !important; width: 5px !important; height: 23px; }
.noBorder               { border: none !important; }
.menuSocial      { margin: 0% 17% !important; opacity: 0.4; }
.menuSocial li   { margin: 0px 0px 0px 25px !important; float: left !important; border: none !important; font-size: 20px}
.menuSocial img  { width: 80% !important;}
.listMenu .activated, .menuSocial .activated   { background-color: transparent !important; color:orange !important;}


/***********/
/* Nav Bar */
/***********/


.customBar, .title          { font-family: 'gulim' !important; background: none !important; color: white !important; }
.barIcon                    { font-size: 22px; color:white; margin: 3px 10px 0px 10px;}
.errorBar   	            { background-color: #262626 !important }
.eventsBar, .mEvents   		{ background-color: #B5D5A6 !important }
.offersBar, .mOffers   		{ background-color: #D64E5E !important }
.newsBar, .mNews     		{ background-color: #5D99E2 !important }
.articlesBar, .mArticles	{ background-color: #EEC058 !important }
.clientsBar, .mClients		{ background-color: #FA6F56 !important }
.shopsBar, .mShops	        { background-color: #EE91AB !important }
.dashboardBar, .mHome       { background-color: #8DCFC8 !important }
.cartBar, .mCart		    { background-color: gray !important }


/******************/
/* DashBoard View */
/******************/


.slogan             { position: absolute; top: 30%; width: 100%; }
.slogan h2          { color: white !important; font-size: 21px; margin: 0px !important; text-align: center; text-shadow: 0px 0.081em 0.09em rgba(0, 0, 0, 0.4); }
.slogan h3          { color: white !important; font-size: 17px; font-weight: 400; text-align: center; margin: 0px !important; text-shadow: 0px 0.081em 0.09em rgba(0, 0, 0, 0.4);}
.contentImage       { width: 100%; height: 36.4% !important; display: block;overflow: hidden; position: relative; }
.contentImage img   { width: 100% !important;}
.whiteSeparator     { width: 100% !important; height: 2px; background-color: white;}
.contentOptions     { position: relative !important; height: 63.5% !important;}
.contentOptions img { width: 100%; position: absolute; top: 0% !important;}
.contentOptions h4  { color: white !important; margin:0 !important; position: absolute;
                      text-align: center; font-size: 12px;font-weight: bold; top: 60%; left: 35%;
                      text-shadow: 0px 0.081em 0.09em rgba(0, 0, 0, 0.4); }

.shopsOptions h4    { left: 37% !important; }

.options            { position: absolute !important; height: 33.4% !important; width: 50%; }
.eventsOptions      { background: #B5D5A6; background-size: 100%; left: 0%; border-top: 2px solid white;}
.offersOptions      { background: #D64E5E; background-size: 100%; left: 50%; border-top: 2px solid white; }
.articleOptions     { background: #EEC058; background-size: 100%; left: 0%; border-top: 2px solid white; }
.newsOptions        { background: #5D99E2; background-size: 100%; left: 0%; top: 33.4% !important; }
.clientsOptions     { background: #FA6F56; background-size: 100%; left: 0%; top: 66.8% !important;  width: 100%;}
.shopsOptions       { background: #EE91AB; background-size: 100%; left: 50%; top: 33.4% !important; }
.clientsOptions img { width: 58% !important; left: 21% !important; }
.clientsOptions h4  { left: 42% !important; top: 69% !important; }


/************************/
/* DashBoard Bonus View */
/************************/


.bonus              { margin: 12% 0 0 0 !important}
.bonus .col h2      { text-align: center; margin: 25px 0px 0px 0px !important; font-weight: 600; color:white; }
.bonus .col h3      { text-align: center; font-size: 14px !important; color: darkslategray}
.bonus .col p       { font-size: 14px; text-align: center !important; margin: 0px 0px 0px 0px !important; color: White; }
.bonus .col .small  { font-size: 10px; line-height:15px; color: darkslategray; opacity: 0.4 }
.bonus img          { width: 28%; }
.bonus .col         { margin: 0 !important; padding:0 !important }

.development              { margin: 40% 0 0 0 !important}
.development .col h2      { text-align: center; margin: 25px 0px 0px 0px !important; font-weight: 600; color:white; }
.development .col h3      { text-align: center; font-size: 14px !important; color: darkslategray}
.development .col p       { font-size: 14px; text-align: center !important; margin: 0px 0px 0px 0px; color: darkslategray; opacity: 0.9 }
.development .col .small  { font-size: 10px; line-height: 15px; opacity: 0.4; margin: 0px 0px 7px 0px; }
.development img          { width: 28%; }
.development .col         { margin: 0 !important; padding:0 !important }

.scrollLegal              { text-align: justify; padding: 0 30px; }
.scrollLegal h4           { font-weight: 600 !important; margin: 30px 0px !important; text-align: left !important; }


/******************/
/*   Events View  */
/******************/


.eventInfoItem        { float:left; width: 85%; }
.eventValueItem       { float:right; margin-top: 4%; }
.eventInfoItem h3     { margin: 0px 0px 5px 0px; }
.eventInfoItem p      { font-family: 'gulim'; font-size: 13px; margin: 0px; padding: 0px; }
.eventInfoItem .small { color:black; font-size: 10px !important; margin-top: -5px !important; margin-left: 1px !important}
.eventValueItem p     { float:left; background-color: #DF0808; padding: 1px 7px 1px 7px; color: white; border-radius: 5px; font-size: 11px; font-weight: bolder; margin-right: 15px; }
.eventValueItem img   { width: 45%; margin: 30% 0% 0% 4%;}
.item                 { border: none !important; padding: 20px 25px 1px 25px; }
.separator            { border-bottom: 1px solid rgb(239, 239, 239) !important; margin: 20px 1% 1px 1%;}


/**************************/
/*   Events Details View  */
/********************+*****/


/*.imageEvent                    { height: 37%; overflow: hidden; }*/
.imageEvent img                  { width: 100%; }
.detailsEvent                    { background-color: rgb(237, 237, 237); padding: 40px 20px 30px 20px; min-height: 130px; margin-top: -7px;}
.descriptionEvent                { padding: 40px 20px 10px 20px; background-color: white; margin-bottom: 10px !important; min-height: 155px;}
.descriptionEvent p              { font-family: 'gulim'; letter-spacing: -0.3px; font-size: 13px; }
.urlEvent                        { padding: 0px 20px 0px 20px; background-color: white; margin-bottom: 20px !important; min-height: 50px;}
.urlEvent a                      { font-family: 'gulim'; letter-spacing: -0.3px; font-size: 13px; }
.detailsEvent ul                 { list-style: none; }
.detailsEvent ul li              { font-family: 'gulim'; font-size: 12px; margin: 0px 0px 10px 0px !important; padding: 0px !important; }
.detailsEvent ul .tEvent,.tEvent { font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important; text-transform: uppercase; color: #4E4E4E; font-size: 12px; font-weight: 600; margin-bottom: 30px !important; }
.detailsEvent ul spam            { font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important; font-weight: 600; text-transform: uppercase; font-size: 10px; margin: 0px !important; padding: 0px !important; width: 200px !important; }
.headerDetail                    { font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important; font-weight: 600; text-transform: uppercase; font-size: 10px; padding: 0px !important; float: left; margin: 0px 10px 3px 0px; width: 75px; clear: both; }
.spamDetail                      { font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important; font-weight: 600; text-transform: uppercase; font-size: 10px !important; padding: 0px !important; float: left; margin: 0px 10px 8px 0px; width: 63px; }
.spamContentDetail               { margin-bottom: 15px; margin-left: 35%; font-size: 12px; font-weight: 200 !important; font-family: 'gulim' !important; }
.contentDetail                   { margin-bottom: 10px !important; margin-left: 25% !important; line-height: 15px;}


/**********************/
/*   Events Map View  */
/**********************/


.angular-google-map-container { height: 700px !important }
.marker-labels                { width: 160px; padding: 10px;   background: #fff; border-radius: 5px; }


/**********************/
/*      News View     */
/**********************/


.detailsNew                    { background-color: rgb(237, 237, 237); padding: 40px 20px 30px 20px; min-height: 130px; margin-top: -6px;}
.detailsNew ul                 { list-style: none; }
.detailsNew ul .tNew,.tNew     { font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important; text-transform: uppercase; color: #4E4E4E; font-size: 12px; font-weight: 600; margin-bottom: 30px !important; }
.detailsNew ul spam            { font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important; font-weight: 600; text-transform: uppercase; font-size: 10px; margin: 0px !important; padding: 0px !important; width: 200px !important; }
.detailsNew ul li              { font-family: 'gulim'; font-size: 12px; margin: -5px 0px 0px 0px !important; padding: 0px !important; }
.headerNewDetail               { font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important; font-weight: 600; text-transform: uppercase; font-size: 10px; padding: 0px !important; float: left; margin: 0px 10px 0px 0px; clear: both; }


/******************/
/*   Offers View  */
/******************/


.offerImage           { float:left; margin-right: 10px !important;}
.offerImage img       { width: 55px !important; height: 50px !important;}
.offerInfoItem        { float:left; }
.offerValueItem       { float:right; margin-top: 4%; }
.offerInfoItem h3     { margin: 0px 0px 0px 0px; }
.offerInfoItem p      { font-family: 'gulim'; font-size: 13px; margin: 0px; padding: 0px; }
.offerInfoItem .small { color:black; font-size: 10px !important; margin-top: -5px !important; margin-left: 1px !important}
.offerValueItem p     { float:left; background-color: #DF0808; padding: 1px 7px 1px 7px; color: white; border-radius: 5px; font-size: 11px; font-weight: bolder; margin-right: 15px; }
.offerValueItem img   { width: 45%; margin: 30% 0% 0% 4%;}


/******************/
/*   Shops View   */
/******************/


.shopImage           { float:left;}
.shopImage img       { width: 40% !important; }
.shopInfoItem        { float:left; width: 70%; white-space: nowrap; }
.shopValueItem       { float:right; margin-top: 4%; }
.shopInfoItem h3     { margin: 0px 0px 0px 0px; }
.shopInfoItem p      { font-family: 'gulim'; font-size: 13px; margin: 0px; padding: 0px; }
.shopInfoItem .small { color:black; font-size: 10px !important; margin-top: -5px !important; margin-left: 1px !important}
.shopValueItem p     { float:left; background-color: #DF0808; padding: 1px 7px 1px 7px; color: white; border-radius: 5px; font-size: 11px; font-weight: bolder; margin-right: 15px; }
.shopValueItem img   { width: 45%; margin: 30% 0% 0% 4%;}


/**************************/
/*   Shops Details View   */
/**************************/


.descriptionEvent ul { list-style: none !important; }
.principalUl         { font-size: 10px; font-weight: 600; }
.principalUl li      { font-size: 10px; font-weight: 600; padding-left: 20px;}
.detailUl            { font-family: 'gulim'; margin-bottom: 20px; margin-left: 2%; font-size: 12px; font-weight: 200 !important; font-family: 'gulim' !important; }
.detailUl li         { font-family: 'gulim'; font-size: 12px; font-weight: 200 !important; font-family: 'gulim' !important; }
.descriptionShop     { padding: 40px 20px 30px 20px; background-color: white; margin-bottom: 10px !important; min-height: 185px;}
.descriptionShop p   { font-family: 'gulim'; letter-spacing: -0.3px;}
.principalUl i       { float:left; width: 25px; margin: 0px 0px 0px 0px !important; font-size: 18px; clear: both;}


/**************************/
/*      Articles View     */
/**************************/


.detailsArticle                    { background-color: rgb(237, 237, 237); padding: 40px 20px 30px 20px; min-height: 130px;}
.detailsArticle ul                 { list-style: none; }
.detailsArticle ul li              { font-family: 'gulim'; font-size: 12px; margin: 0px 0px 0px 0px !important; padding: 0px !important; }
.detailsArticle ul .tEvent,.tEvent { font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important; text-transform: uppercase; color: #4E4E4E; font-size: 12px; font-weight: 600; margin-bottom: 30px !important; }
.detailsArticle ul spam            { font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important; font-weight: 600; text-transform: uppercase; font-size: 10px; margin: 0px !important; padding: 0px !important; width: 200px !important; }
.tabsArticles .list     { padding-top: 50px; }
.tabsArticles .tabs     { top:-2px !important; }
.moreInfoArticle        { margin-bottom: 10px !important; background-color: white!important; height: 70px !important; padding: 25px 20px 25px 20px !important; border-top: 1px solid #ddd;}
.availableArticle       { float: left; }
.availableArticle img   { width: 16% !important; float: left !important; margin-right: 0px !important; }
.availableArticle p     { color: #7ED321 !important; font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important; font-size: 11px; font-weight: bolder; float: right; margin-left: 0px; }
.priceArticle           { float: right; }
.priceArticle p         { color:gray; font-family: "gulim" !important; font-size: 20px;}
.descriptionArticle     { padding: 40px 20px 30px 20px; background-color: white; min-height: 175px;}


/*************************/
/*  Articles Search View */
/*************************/


.articleList                        { margin-bottom: 0px !important; background-color: white; font-family: 'gulim'; color: gray; font-size: 16px; padding:10px 0px 10px 0px! important;}
.referenceList                      { margin-bottom: 0px !important; background-color: lightgray; font-family: 'gulim'; color: gray; font-size: 16px; padding:10px 0px 10px 0px! important;}
.articleList .item                  { border-bottom: 1px solid #EAE9E9 !important; margin-bottom: 1px; font-family: 'gulim'; color: gray; font-size: 16px; padding:10px 25px 10px 25px !important;}
.referenceList .item                { border: none !important; background-color: lightgray !important; padding: 10px 25px 10px 25px !important; }
.buttonSearch                       { background: url(../img/searchicon.svg) #8DCFC8 !important; background-size: 25px 20px !important;
                                      background-repeat: no-repeat !important; background-position: 17px !important; border: none !important;
                                      width: 40px; border-radius: 50%; padding: 30px;  margin: 8% 43%; text-align: center;}
.item-select:after                  { right: 30px !important; }
.articleList .item select           { font-family: 'gulim'; color: gray; width: 100%; direction: ltr; padding: 14px 48px 16px 0px !important; margin-right: 15px;}
.articleList .item select option    { text-align: left !important}


/*********************/
/*   Filter View     */
/*********************/


.modal                  { background-color: black; opacity: 0.9 !important; text-align: center }
.modal .header          { background-image:none !important; background-color: black; opacity: 0.9 !important; text-align: center; border:none !important; }
.modal ul               { list-style: none !important; color: white !important; margin: 17% 20%;}
.modal ul li            { margin: 20px 0px 20px 0px !important; border-top: 1px solid rgb(53, 52, 52) !important; font-family: 'gulim'; padding: 30px 0px 10px 0px; font-size: 30px; }
.modal ul li:last-child { border-bottom: 1px solid rgb(53, 52, 52) !important; padding: 30px 0px 30px 0px;}
.modal h1               { font-family: 'gulim'; font-size: 35px !important; margin-top: 20%; color: gray !important; }
.modal .button          { width: 40px; }


/******************/
/*  Client View   */
/******************/


.login                          { background-color: #FA6F56; padding: 0px 30px; }
.login img                      { width: 115px; margin: 10% 30% 0% 30%; }
.loginForm                      { padding: 10% }
.itemUsername, .itemPassword    { background-color: transparent; background-repeat: no-repeat; border-bottom: 1px solid lightgray !important;
                                  border-width: 0px 0px 1px 0px; padding: 14px 3px 0px 3px !important;
                                  border-color: rgba(255, 255, 255, 0.3); margin-bottom: 10px; }
.loginForm .itemUsername        { background-image: url("../img/usericon.png"); background-size: 20px; background-position: 0px 12px; }
.loginForm .itemPassword        { background-image: url("../img/passwordicon.png"); background-size: 16px; background-position: 4px 11px; }
.loginForm input                { color: white; padding-left: 35px;padding-bottom: 11px; }
.login .button                  { border: none; border-radius: 0; background-color: #EEC058 !important;
                                  color:rgba(255,255,255,1) !important;  margin-top: 45px !important; font-size: 16px}
.clientContent                  { background-color: #FA6F56 }
.addAccount                     { margin: 5% 30% 0 30%; text-align: center }
.addAccount p                   { font-size: 12px; color: White;}
.addAccount button              { width: 45px; height: 45px; border-radius: 50px; border: none; color: white; margin-bottom: 10px;
                                  font-size: 34px; font-weight: 100; font-family: 'gulim'; padding: 0px 9px 0px 11px;
                                  background: rgba(250, 250, 250, 0.57);}
 .itemSettings                  { padding: 15px 25px 15px 20px !important; }


/*******************************/
/*     Client Profile View     */
/*******************************/


.iOptions           { margin: 0px 10px 0px 15px;}
.optionsPicture     { font-size: 14px !important; color: #5D5B5B !important; padding: 5px 0 }
.imageProfile       { height: 200px; border-radius: 50%; border: 5px solid #F1F1F1; margin: 27% 25% 0% 23%; padding: 5px 5px 5px 5px;}
.buttonChange i     { color: white; }
.buttonDelete i     { color: white; }
.buttonChange       { background: #8DCFC8 !important; background-size: 25px 20px !important; font-size: 35px; float: left;
                      background-repeat: no-repeat !important; background-position: 17px !important; border: none !important;
                      width: 40px; border-radius: 50%; padding: 20px 53px 15px 25px;  margin: 8% 0% 8% 24%; text-align: center;}
.buttonDelete       { background: red !important; background-size: 25px 20px !important; font-size: 35px;
                      background-repeat: no-repeat !important; background-position: 17px !important; border: none !important;
                      width: 40px; border-radius: 50%; padding: 20px 53px 15px 25px;  margin: 8% 20% 8% 10%; text-align: center;}


/******************/
/*   Login View   */
/******************/


.registerTabs .list       { margin-top: 15%;}
.tab-item-active          { border-bottom:2px solid black !important; }
.registerTabs .tabs       { top:-1px; background: whitesmoke; padding: 0 20% 0 20%; height: 55px; border: none;}

.pTitle                   { text-transform: uppercase; margin: 5% 0 5% 0; font-weight: 600; color: black; font-size: 13px; width: 100%; text-align: center;}
.buttonPass               { background: #FA6F56 !important; border: none !important; width: 47px !important; border-radius: 50%;
                            height: 50px; font-family: 'gulim';  margin: 10% 40% 30% 40%; text-align: center; font-size: 20px; color: white; }
.registerTabs .list .input-label      { color: #9A9A9A; }
.registerTabs .list .item-input input { color: #4E4E4E; }
.clientList                    { margin-bottom: 0px !important; background-color: white; font-family: 'gulim'; color: gray; font-size: 16px; padding:10px 0px 10px 0px! important;}
.clientList .item              { height: 55px; border-bottom: 1px solid #EAE9E9 !important; margin-bottom: 1px; font-family: 'gulim'; color: gray; font-size: 16px; padding:10px 25px 10px 25px !important;}
.clientList .item .checkbox    { margin: -28px 0px 0px 10px !important; }
.lostlink                      { text-align: right; float: right; font-size: 12px; color: darkred; }
.registerInput                 { border:none !important; background: white !important; margin-bottom: 1px; font-family: 'gulim';  color: gray; font-size: 16px; padding: 10px 35px 10px 25px !important;}


/*********************/
/*    Client View    */
/*********************/


.icons          { float: left; font-size: 22px; margin: 1px 30px 0px 10px; color: #ef473a; }
.header         { background-image: url("../img/header.png"); background-repeat: no-repeat; text-align: center;
                  background-color: #F4F4F4; background-size: 100% 65%; padding-bottom: 18px; }
.picture img    { width: 38%; margin-top: 15%; border: 6px solid #F4F4F4; border-radius: 102px;}
.info height    { font-size: 16px; color: rgb(81, 81, 81); font-weight: 400; margin: 0px; }
.info h4        { font-size: 12px; color: #8DDE10; font-weight: 200; margin: 0;}
.info h3        { font-size: 13px; font-family: 'gulim'; font-weight: bold; margin-bottom: 7px; }
.hasNotCode     { color: red !important; font-weight: 600 !important;}

.list .itemDashboard                { color:#5D5B5B; background: white; padding: 23px 0px 12px 25px; border: none; border-bottom: solid 1px #eeeeee; margin-bottom: 1px; }
.list .itemDashboard:last-child     { border: none; margin-bottom: 0; }
.list .activated                    { background: #FCFCFC !important;}

.info i                 { color:#d8af19; display: block; font-size: 25px; opacity: 0.5; margin-bottom: 5px;}
.info .infoLeft         { float: left;margin: -2% 16% 0 6.3%;font-size: 12px;color: rgb(168, 168, 168); }
.info .infoCenter       { float: left; width: 42%; text-align: center; margin: 1% 0 0 0; }
.info .infoRight        { float: right; margin: -2% 7% 0 10%; font-size: 12px;color: rgb(168, 168, 168); }
.informationFields              { font-size: 10px;color: lightgrey;margin: 5px 0px 0px 25px;}
.informationFieldsRecovery      { font-size: 14px;letter-spacing: 0px;color: darkgray;margin: 25px 25px 5px 25px; }
.informationFieldsRecovery  i   { margin: 0px 10px 0px 0px; }
.informationFields i            { margin: 0px 5px 0px 0px;}
.disabled                       { opacity: 0.3; }

.hidden        { display: none; }
.messageError  { display: none; }
.showError     { color: red !important;font-weight: 400 !important; display: inline; margin: 0px 0px 0px 25px; font-size: 12px;}


/**********************/
/*    Bar Code View   */
/**********************/


.detailsBarCode            { background-color: rgb(237, 237, 237); padding: 20px 0px 20px 0px;text-align: center;font-size: 18px;color: gray;}
.imageBarCode              { height: 41%; overflow: hidden;}
.imageBarCode img          { width: 100%; margin-top: 20%;}
.descriptionBarCode        { padding: 30px 20px 30px 30px; background-color: white;}
.descriptionBarCode ul     { list-style: none;}
.descriptionBarCode ul li  { text-decoration: none;}
.moreInfoBarCode           { margin-bottom: 10px !important; background-color: white!important;  height: 70px !important;
                             padding: 25px 30px 25px 30px !important;  border-top: 1px solid #ddd;}

.availableBarCode     { float: left; width: 40%;font-size: 12px; color: #8DDE10; font-weight: bold; }
.availableBarCode i   { float: left !important; margin-right: 10px !important; font-size: 14px !important;}
.availableBarCode p   { color: #7ED321 !important; font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important; font-size: 11px; font-weight: bolder; float: right; margin-left: 0px; }
.pointBarCode p       { color:gray; font-family: "gulim" !important; font-size: 15px; float: right;}


/**********************/
/*    Purchase View   */
/**********************/


.detailPurchase                     { float: left; }
.purchaseItem                       { float:right; margin-top: 3%; }
.purchaseItem img                   { width: 45%; margin: 0% 0% 0% 4%;}
.pricePurchase p                    { font-family: 'gulim';font-size: 13px;}
.detailPurchase h3                  { margin: -1px 0px -2px 0px; font-size: 25px; font-weight: 400; }
.detailPurchase p                   { font-family: 'gulim'; font-size: 12px; margin: 0px; padding: 0px; }
.detailPurchase .small              { color:black; font-size: 10px !important; margin-top: -5px !important; margin-left: 1px !important; }
.detailPurchase .pointByPurchase    { float: left;font-weight: 600;margin: 0 !important;color: #74BF00;padding: 0 !important; }
.purchaseRed                        { color:red !important; }
.detailPurchase .hr                 { width: 1px;border: none;margin: 3px 7px 0px 7px; float: left;height: 13px;background: lightgray;}
.pointByPurchase i                  { margin:0px 5px 0px 0px; }


/************************************/
/*         Purchase Details View    */
/************************************/


.purchaseFooterItem                 { width: 100% }
.purchaseDetailsItem                { float: right; margin-top: -10px; }
.detailPurchase h4                  { width: 200px; font-size:14px !important }
.detailsHeader                      { padding: 25px; background: whitesmoke !important; }
.pricePurchase span                 { font-weight: 600; }
.dtoPurchase                        { font-family: 'gulim';font-size: 13px; text-align: right}
.pHeader                            { margin:0px !important; }
.detailsFooter                      { height: 18%; margin: 0px 0px -5px 0px; padding: 0px; padding: 20px 25px 25px 25px; }
.purchaseTotalItem                  { float: right; margin-top: 20px; text-align: right }
.purchaseTotalItem p                { margin: -5px 0 0 0 !important; font-weight: 200; color: darkgreen; padding: 0 !important; font-size: 12px; }
.purchaseTotalItem span             { font-weight: 600; }
.purchaseTotalItem h4               { margin: 0 !important; padding: 0 !important; color: White; }
.detailDtoPurchase                  { float: left; }
.detailDtoPurchase h4               { margin-top: 18px; color:white; }
.itemArticlesDetails                { padding: 0px 25px 1px 25px !important}
.showArticle                        { padding: 25px 0px 25px 0px !important }
.showArticle .activated             { box-shadow: none !important; }
.showArticle i                      { border-left: 1px solid whitesmoke; padding-left: 40px; padding-top: 15px; padding-right: 40px; padding-bottom: 15px; font-size: 20px}

.item-complex .item-content, .item-radio .item-content      { padding: 20px 0px 16px 0px !important; border-bottom: 1px solid whitesmoke;}
.button.button-light.active, .button.button-light.activated { box-shadow: none !important}


/************************************/
/*    Ticket Select Articles View   */
/************************************/


.itemSelectArticlesDetails                  { padding: 20px 0px 20px 60px !important; border: none !important; border-bottom: 1px solid whitesmoke !important; margin: 0px 10px 0px 10px; }
.selectArticleImage                         { float: left; margin-right: 20px; margin-top: 5px; }
.selectArticleImage img                     { width: 55px !important; height: 55px !important; }
.itemSelectArticlesDetails .checkbox-icon   { margin-top: 5px; }


/************************************/
/*  Ticket Articles Details View    */
/************************************/


.itemTicketArticlesDetails                  { padding: 20px 0px 20px 20px !important; border: none !important; border-bottom: 1px solid whitesmoke !important; margin: 0px 10px 0px 0px; }
.ticketArticleImage                         { float: left; margin-right: 20px; margin-top: 5px; }
.ticketArticleImage img                     { width: 55px !important; height: 55px !important; }


/**********************/
/*    Points View   */
/**********************/


.detailPoint                     { float: left; }
.pointItem                       { float:right; margin-top: 3%; }
.pointItem img                   { width: 45%; margin: 0% 0% 0% 4%;}
.pricePoint p                    { font-family: 'gulim';font-size: 13px;}
.detailPoint span                { color:red !important; font-size:15px !important }
.detailPoint h3                  { margin: -1px 0px -2px 0px; font-size: 25px; font-weight: 400; color:red;}
.detailPoint p                   { font-family: 'gulim'; font-size: 13px; margin: 0px; padding: 0px; }
.detailPoint .small              { color:black; font-size: 10px !important; margin-top: -5px !important; margin-left: 1px !important; }
.detailPoint .pointByPoint       { float: left;font-weight: 600;margin: 0 !important;padding: 0 !important; }
.detailPoint .hr                 { width: 1px;border: none;margin: 3px 7px 0px 7px; float: left;height: 13px;background: lightgray;}
.pointByPoint i                  { margin:0px 5px 0px 0px; }


/**********************/
/*    Orders View     */
/**********************/


.tabsOrders .tabs     { top:-2px !important; height: 75px; }
.tabsOrders a         { font-size: 12px !important; }
.ordersList .list     { margin-top: 20% !important; }
.itemPendingOrderDetails                { padding: 0px 0px 1px 0px !important; height: 129px; }
.item-complex.activated .item-content   { background: #FCFCFC !important; }
.itemPendingOrderDetails .item-content  { padding: 20px 20px 16px 26px !important; border-bottom: none !important; }
.showOrders                             { padding: 25px 0px 25px 0px !important; }
.showORders .activated                  { box-shadow: none !important; }
.orderDetailsItem                       { float: right; margin-top: 20px; }
.showOrders i                           { border-left: 1px solid whitesmoke; padding-left: 40px; padding-top: 15px; padding-right: 40px; padding-bottom: 15px; font-size: 20px}


/**********************/
/*    cart View     */
/**********************/


.ammount               { border: 1px solid lightgray; width: 40px; text-align: center; padding: 0; }
.ammount input         { text-align: center; padding: 0; margin: 0; }
.cartInfoItem          { float: left; width: 60%; white-space: nowrap; }
.cartValueItem         { float: right; margin-top: 15px; height: 60px;}
.cartValueItem span    { font-size: 12px; text-align: center; color: gray; padding-left: 8px; }
.cartImage             { float:left; margin-right: 15px; }
.cartImage img         { width: 55px !important; height: 55px !important; }
.pvpInfo               { font-weight: bold; }
.pvpValue              { font-weight: bold; }
.pvp                   { margin: 10px 0px 0px 70px; }
.detailsFooterCart     { height: 14%; margin: 0px 0px -8px 0px; padding: 0px; padding: 10px 25px 25px 25px; }
.itemCart              { padding: 0px 25px 1px 25px !important; }
.cartRed               { border: 1px solid red !important; }

.cartImage             { float:left; margin-right:20px }
.cartArticle           { float:left; margin-right: 10px; width: 50%; }
.cartArticle p         { font-family: 'gulim'; font-size: 13px; }
.cartUds               { float: right; padding-top: 10px; }
.cartUds h4            { float: right; font-size: 18px;}
.cartDetails p         { font-family: 'gulim'; font-size: 12px; line-height: 16px; float:left }
.cartDetails           { margin-left: 24%; }
.cartDetails button    { color: black; margin-left: 5px; padding: 2px 6px; line-height: 14px; height: 20px; font-size: 12px; min-height: 20px; }


/**************************/
/*   cart Confirm View    */
/**************************/


.detailsCartHeader                    { padding: 15px 25px 15px 25px; border-bottom: 1px solid lightgray; }
.detailCartArticle h4                 { margin:0px !important; }
.detailCartArticle .pointByArticle    { float: left; margin: 0 !important; padding: 0 !important; }
.detailCartArticle p                  { font-family: 'gulim'; font-size: 13px; margin: 0px; padding: 0px; }
.detailCartPriceArticle h3            { margin: 7px 0px 0px 0px; font-size: 15px; font-weight: 600; }
.detailCartPriceArticle               { float:right !important }
.totalAmmount                         { float: right; }
.totalAmmount > div                   { margin: 0px 24px 0px 24px; border-top: 3px solid black; padding: 13px 0px 0px 0px; font-weight: 600; }
.totalAmmount > div h4                { font-weight: 800; font-size: 15px; }
.totalAmmount > div h4 span           { color: red; margin-right: 20px }
.pickUpShop .item                     { border: none !important; padding: 0px 25px 2px 50px; width: 100%; font-size: 15px; margin-left: 5px; }
.pickUpShop .item .item-content       { margin-left: 26px }
.inputAddressShop                     { height: 40px; border:none; background: white !important; border-bottom: 1px solid whitesmoke !important; padding: 2px 0px 5px 2px; width: 87%; margin: 5px 15px 20px 20px; color: gray; font-family: 'gulim'; font-size: 14px !important; }


/**********************/
/*       Errors       */
/**********************/


.requiredAlert     { display: none ; color: red;font-size: 12px;margin-right: 10px;padding: 4px 10px;}
.requiredLogin     { display: none ; color: #a84a39;font-size: 12px;margin-right: 10px;padding: 4px 10px;}
.has-errors-i      { display: block !important; }
.span-has-errors   { color:red !important; }
.displayBlock      { display: block; }
.displayNone       { display: none; }
.errorP            { margin: 15px 0px 0px 0px; color: #a84a39}
.has-errors-login::-webkit-input-placeholder { color: #a84a39 !important; }


/*****************************/
/*       SuccesFully View    */
/*****************************/


.succesFullyDiv         { border: none !important; width: 100%; text-align: center; height: 100%; margin-top: 40%;}
.succesFullyDiv p       { width: 100%; text-align: center;padding: 0 20% 0 20%; }
.succesFullyDiv .small  { width: 100%; text-align: center;padding: 2% 20% 0 20%; font-size: 14px; color:lightgray}


/*****************************/
/*        Popover    View    */
/*****************************/


.settingPopover    { height: 120px;}
.settingPopover a  { padding-bottom: 10px; }
